body {
    font-family: Arial, Helvetica, sans-serif;
    background:rgb(32, 42, 44);
    color:white;
}

#output {
    margin: auto;
    border: 1px solid;
    width:80%;
    font-size:1.5rem;
}

.center {
    text-align: center;
}

textarea {
	background:rgb(255, 255, 255, 0.4);
	color: white;
}